
/* main------------------------- */
body{
	margin : 0;
	padding : 0;
	overflow : hidden;
}

#filter {
	margin : 0;
}
.bar{
    width : 100%;
    margin : 0;
    height : 70px;
    position : absolute;
    display : flex;
    border-top : 1px solid rgb(208, 210, 214);
    border-bottom : 1px solid rgb(208, 210, 214);
}

.searchbar{
  	width: 251px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid rgb(208, 210, 214);
}

.searchbar .input-sc{
    width: 100%;
    height: 60px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    box-sizing: border-box;
    border: 0;
}

.input-sc:focus+.fa{
    color : #314570;
}

.searchbar>i{
    color : rgb(208, 210, 214);
    position : absolute;
    top : 50%;
    right : 0;
    margin-right : 10px;
    transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
}

.filter-wrap{
    position : absolute;
    left : 251px;
    top : 50%;
    display : flex;
    transform: translateY(-50%);
}

.housing-type{
    height: 36px;
    margin-left : 10px;
    position : relative;
    cursor : pointer;
}
 

.housing-btn{
    height: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    display : inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0 30px 0 10px;
    border : 1px solid rgb(224, 224, 224);
    border-radius: 3px;
}

.housing-btn>span{
    display : inline-block;
    width: 100%;
    white-space: nowrap;
}

.housing-btn .fa{
    position : absolute;
    top : 50%;
    right : 0;
    transform: translate(-50%, -50%);
    margin-right : 5px;
    color: rgb(34, 34, 34);
}

.filterbox-housing{
    background : rgb(255, 255, 255);
    position : absolute;
    width : 300px;
    top: 38px;
    z-index: 101;
    padding: 27px 30px 0px;
    border : 1px solid rgb(187, 187, 187);
    border-radius: 3px;
}

.filterbox-housing>h1{
    margin-bottom: 27px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.filterbox-housing h1>p{
    margin-top: 3px;
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

.filterbox-housing .filter-list{
    padding : 0;
}

.check-label{
    cursor : pointer;
}

.price-range{
    height: 36px;
    margin-left : 10px;
    position : relative;
    cursor : pointer;
}


.price-btn{
    height: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    display : inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0 30px 0 10px;
    border : 1px solid rgb(224, 224, 224);
    border-radius: 3px;
}

.price-btn>span{
    display : inline-block;
    width: 100%;
    white-space: nowrap;
}

.price-btn .fa{
    position : absolute;
    top : 50%;
    right : 0;
    transform: translate(-50%, -50%);
    margin-right : 5px;
    color: rgb(34, 34, 34);
}

.filterbox-price{
    background : rgb(255, 255, 255);
    position : absolute;
    width : 300px;
    top: 38px;
    z-index: 101;
    padding: 27px 30px 0px;
    border : 1px solid rgb(187, 187, 187);
    border-radius: 3px;
}

.filterbox-price h1{
    margin-bottom: 27px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

/* ====================================================== */
#property-list {
    /* border: 1px solid gray; */
    width:630px;                
    overflow-y:auto;        
}
    #property-list>ul {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    	align-items: center;
        padding-left : 0;
    }
        #property-list ul>li>div {
            border: 1px solid rgb(208, 210, 214);
            width:280px;
            height:250px;
            --height:auto;
            margin:10px;
            padding:2px;
            box-sizing : border-box;
        }

#property-map {
    flex: 0 0 auto;
    z-index : -9999;
}
