/* header------------------------- */
/* .header-box{
    min-width: 1366px;
    background-color: rgb(255, 255, 255);
    z-index : 21;
    padding : 0px 30px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#header .logo{
    float: left;
    width : 80px;
    height : 70px;
    bottom : 15px;
    position : relative;
    
}

.logo>svg{
    background: #314570;
    width : 100%;
    padding-left : 17px;
    padding-top : 4px;
    position :absolute;
    top : 47%;
    transform : translateY(0px, -50%);
}

.left-menu{
    display : inline-block;
    margin-top: 22px;
    margin-left: 20px;
    line-height: 19px;
    width : 250px;
}

.left-menu a{
    position : relative;
    font-size: 13px;
    letter-spacing: -0.5px;
    color : rgb(136, 136, 136);
}

.left-menu>div{
    display : inline-block;
    width: 1px;
    height: 15px;
    vertical-align: middle;
    background : rgb(221, 221, 221);
    margin : 0px 12px;
}

.right-menu{
    width : 447px;
    height: 70px;
    float : right;
}

.right-menu-detail{
    display : inline-block;
    padding-top: 20px;
    font-size: 17px;
    line-height: 27px;
    width : 300px;
    height : 70px;
}

.right-menu-detail a{
    margin-right : 16px;
    color : rgb(34, 34, 34);
}

.signup {
    margin-left: 10px;
    width : 100px;
    height : 70px;
    color : #122958;
    font-size : 15px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 */
/* main------------------------- */
#filter {
	margin : 0;
}
.bar{
    width : 100%;
    margin : 0;
    position : absolute;
    display : flex;
    border-top : 1px solid rgb(208, 210, 214);
    border-bottom : 1px solid rgb(208, 210, 214);
}

.searchbar{
    width : 250px;
    height : 46px;
    position : relative;
}

.searchbar .input-sc{
    width: 100%;
    height : 100%;
    padding-left : 10px;
    outline : none;
    border : 0;
    border-right : 1px solid rgb(208, 210, 214);  
}

/* .input-sc:focus{
    border : 0;
    box-shadow: 0 0 4px #314570;
} */

.input-sc:focus+.fa{
    color : #314570;
}

.searchbar>i{
    color : rgb(208, 210, 214);
    position : absolute;
    top : 50%;
    right : 0;
    margin-right : 10px;
    transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
}

.filter-wrap{
    position : absolute;
    left : 251px;
    top : 50%;
    display : flex;
    transform: translateY(-50%);
}

.housing-type{
    height: 36px;
    margin-left : 10px;
    position : relative;
    cursor : pointer;
}


.housing-btn{
    height: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    display : inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0 30px 0 10px;
    border : 1px solid rgb(224, 224, 224);
    border-radius: 3px;
}

.housing-btn>span{
    display : inline-block;
    width: 100%;
    white-space: nowrap;
}

.housing-btn .fa{
    position : absolute;
    top : 50%;
    right : 0;
    transform: translate(-50%, -50%);
    margin-right : 5px;
    color: rgb(34, 34, 34);
}

.filterbox-housing{
    /* display : none; */
    background : rgb(255, 255, 255);
    position : absolute;
    width : 300px;
    top: 38px;
    z-index: 101;
    padding: 27px 30px 0px;
    border : 1px solid rgb(187, 187, 187);
    border-radius: 3px;
}

.filterbox-housing>h1{
    margin-bottom: 27px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.filterbox-housing h1>p{
    margin-top: 3px;
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

.filterbox-housing>ul{
    padding : 0;
}

.filterbox-housing .check-label{
    cursor : pointer;
}

.price-range{
    height: 36px;
    margin-left : 10px;
    position : relative;
    cursor : pointer;
}


.price-btn{
    height: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    display : inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0 30px 0 10px;
    border : 1px solid rgb(224, 224, 224);
    border-radius: 3px;
}

.price-btn>span{
    display : inline-block;
    width: 100%;
    white-space: nowrap;
}

.price-btn .fa{
    position : absolute;
    top : 50%;
    right : 0;
    transform: translate(-50%, -50%);
    margin-right : 5px;
    color: rgb(34, 34, 34);
}

.filterbox-price{
    background : rgb(255, 255, 255);
    position : absolute;
    width : 300px;
    top: 38px;
    z-index: 101;
    padding: 27px 30px 0px;
    border : 1px solid rgb(187, 187, 187);
    border-radius: 3px;
}

.filterbox-price h1{
    margin-bottom: 27px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}


#property-list {
    border: 1px solid gray;
    width:630px;                
    overflow-y:auto;        
}
    #property-list>ul {
        display:flex;
        flex-wrap: wrap;
    }
        #property-list ul>li>div {
            border: 1px solid gray;
            width:280px;
            height:250px;
            --height:auto;
            margin:5px 2px 5px 20px;
            padding:2px;
        }

#property-map {
    flex: 0 0 auto;
}