
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/* ================================================main====================================================== */

.input-search .main-title{
    height : 57px;
    color : rgb(68, 68, 68);
    font-size: 46px;
    margin : 0;
    font-weight: 300;
    line-height : 50px;
    text-align: center;
    letter-spacing: -0.5px;
    position : relative;
    z-index : 20;
}

.main-title span{
    color : #314570;
    font-weight: 600;
}

.search-form {
    position : relative;
    z-index : 20;
    margin-top : 28px;
}

.search-box{
    width : 800px;
    height : 60px;
    margin : 0 auto;
    position : relative;
}


.search-box input[type="text"] {
    width : 100%;
    height : 100%;
    outline: none;
    position: relative;
    padding-left : 100px;
    font-size: 20px;
    outline: none ;
    color : #222;
    border : 1px solid rgb(208, 210, 214);
}

/* .search-box input[type="text"]:focus{
    border : 1px solid rgba(208, 210, 214, 0.51);
    box-shadow: 0 0 30px #3145704c;
} */

.search-box input[type="text"]:focus +.fa{
    color : #457b9d;
}

.search-box .fa{
    position: absolute;
    top : 10px;
    left : 0;
    color : rgb(208, 210, 214);
    font-size: 20px;
    display : flex;
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
    padding : 10px 0;
    /* height : inherit; */
    width : 70px;
    border-right : 1px solid rgb(208, 210, 214);
}

.search-box button {
    position : absolute;
    width: 95px;
    height: 48px;
    padding-right : 10px;
    top: 50%;
    right : 6px;
    transform : translateY(-50%);
    border-width: 0px;
    /* border-style: initial;
    border-color: initial;
    border-image: initial; */
    border-radius: 6px;
    outline: none;
    color : white;
    font-size : 17px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.9%;
    background-color : #314570;
}

.search-box button:hover{
    opacity: 80%;
    transition : 0.5s;
    font-size : 17px;
    font-weight: 600;
    /* line-height: 48px; */
    /* letter-spacing: -0.9%; */
    cursor : pointer;
}

.easy-title{
    width : 1180px;
    height : 100px;
    padding-top : 36px;
    border-top: 1px solid rgb(221, 221, 221);
}

.easy-title>span{
    display: inline-block;
    width: 100%;
    color: rgb(34, 34, 34);
    font-size: 25px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
}

.easy-title>p{
    display: block;
    width: 100%;
    margin : 0;
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

/* .easy-search .content-container{
    position : relative;
} */

/* ============================= */
.card-wrap{
    /* width: 585px; */
    height : 250px;
    margin : auto;
    margin-top : 26px;
    position : relative;
    overflow: hidden;
}
.card-box {
    width: 1180px;
    height: 200px;
    margin : auto;
    position : absolute;
    top:0;
    left : 0;
    transition : 0.3s;
}

.card-wrap input[name=tabs]{
    display : none;
}

.card-box .card {
    width: 185px;
    height: 100%;
    float : left;
    margin-left : 10px;
}

.card-container {
    width: 185px;
    height: 182px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.card-box .image-box1 {
    width: 185px;
    height: 100px;
    margin-top : 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : url(../images/dabang-images001.png) center center / cover no-repeat;
    
}

.card-box .image-box2 {
    width: 185px;
    height: 100px;
    margin-top : 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : url(../images/dabang-images-easy003.jpg) center center / cover no-repeat;
    
}

.card-box .image-box3 {
    width: 185px;
    height: 100px;
    margin-top : 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : url(../images/dabang-images-easy002.jpg) center center / cover no-repeat;
    
}

.card-box .image-box4 {
    width: 185px;
    height: 100px;
    margin-top : 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : url(../images/dabang-images-easy001.jpg) center center / cover no-repeat;
    
}

.card-box .image-box5 {
    width: 185px;
    height: 100px;
    margin-top : 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : url(../images/dabang-images-easy004.jpg) center center / cover no-repeat;
    
}

.card-box .image-box6 {
    width: 185px;
    height: 100px;
    margin-top : 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background : url(../images/dabang-images-easy004.jpg) center center / cover no-repeat;
    
}


.card-container .text-box{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
    margin-bottom : 7px;
    border-left : 1px solid rgb(238, 238, 238);
    border-right : 1px solid rgb(238, 238, 238);
    border-bottom : 1px solid rgb(238, 238, 238);
}

.card-container .text-box p {
    width : 100%;
    
    margin-left : 30px;
    height: 21px;
    color : rgb(68, 68, 68);
    font-size : 15px;
    /* line-height : 21px; */
    margin-top : 10px;
}

.next-btn{
    width: 40px;
    height: 40px;
    box-shadow : rgba(0, 0, 0, 0.08) 0px 0px 3px 1px;
    background-color : rgb(255, 255, 255);
    position : absolute;
    top: 45%;
    right : -10px;
    z-index : 1;
    border-width : 0px;
    border-style : initial;
    border-color : initial;
    border-image : initial;
    border-radius: 50%;
}

.next-btn>svg{
    width : 10px;
    height : 16px;
}

.next-btn>svg {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
}

.card-wrap .slide-btns {
    height: 25px;
    margin-top : 30px;
    text-align: center;
    position : absolute;
    bottom : 0;
    left : 50%;
    transform: translateX(-50%);
}

.slide-btns label{
    display : inline-block;
    width : 20px;
    height : 20px;
    margin : 5px;
    border-radius: 50%;
    opacity: 60%;
    cursor : pointer;
}

input[id=tab1]:checked ~ .slide-btns label[for=tab1]{
    opacity: 100%;
}

input[id=tab2]:checked ~ .slide-btns label[for=tab2]{
    opacity: 100%;
}

input[id=tab1]:checked ~ .card-box{
    left : 0;
}

input[id=tab2]:checked ~ .card-box{
    left : -585px;
}

.recently-room {
    display : inline-block;
    width : 146px;
    height : 25px;
    line-height: 25px;
    color : rgb(34, 34, 34);
    border-right : 1px solid rgb(221,221,221);
    font-size : 28px;
    font-weight : 600;
    text-align: left;
    padding-left : 0px;
    padding-right : 16px;
    cursor : pointer;
}

.recently-block {
    display : inline-block;
    width : initial;
    height : 25px;
    line-height: 25px;
    color : rgb(34, 34, 34);
    border-right : 1px solid rgb(221,221,221);
    font-size : 28px;
    font-weight : 600;
    text-align: left;
    padding-left : 0px;
    padding-right : 16px;
    cursor : pointer;
}

.favorite-room{
    display: inline-block;
    width : 130px;
    height: 25px;
    color: rgb(197, 197, 197);
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    padding-left : 16px;
    padding-right: 16px;
}

.favorite-block{
    display: inline-block;
    width : initial;
    height: 25px;
    color: rgb(197, 197, 197);
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    padding-left : 16px;
    padding-right: 16px;
}

.check-recent{
    display : block;
    width: 300px;
    height : 35px;
}

.check-recent>span {
    float: left;
    padding-top : 10px;
    font-size : 16px;
    color : rgb(102 102, 102);
    font-weight : 300;
    line-height: 25px;
    text-align: left; 
}

.recent-room .card-list{
    width: 1180px;
    height : 320px;
    margin-top : 20px;
    position : relative;
    right : 0;

}

.card-list .card{
    float: left;
    background-color : rgb(251, 251, 252);
    border-width : 1px;
    border-style : dashed;
    border-color : rgb(214, 216, 219);
    border-image: initial;
    border-radius: 4px;
    width : 275px;
    height : 185px;
    margin-top : 30px;
    margin-left : 18px;
}

.card >p{
    width : inherit;
    height : inherit;
    color : rgb(148, 152, 160);
    font-size : 14px;
    font-weight : 300;
    line-height: 166px;
    text-align: center;
}

.plus-card{
    float: left;
    background-color : rgb(251, 251, 252);
    border-width : 1px;
    border-style : dashed;
    border-color : #314570;
    border-image: initial;
    border-radius: 4px;
    width : 270px;
    height : 185px;
    margin-top : 30px;
    margin-left : 18px;
    background : #fff;
}

.plus-card>p{
    width : inherit;
    height : 20px;
    margin-top : 65px;
    font-size : 14px;
    font-weight : 300;
    color : #314570;
    text-align: center;
}

.plus-card>svg{
    width : 35px;
    height : 35px;
    margin-left : 117px;
    cursor : pointer;
}

.main-guide{
	position : relative;
}

.main-guide .guide-title {
    width : 1180px;
    height : 40px;
    text-align: center;
    color : rgb(34, 34, 34);
    font-size : 28px;
    margin-bottom : 10px;
}
.main-guide .guide-slide{
	/* width : 700px; */
	height : 350px;
	margin : auto;	
	position : relative;
	overflow : hidden;
}

.main-guide .guide-box {
    width: 1180px;
    position: absolute;
    top : 0;
    left : 0;
    transition: 0.3s;
}

.main-guide input[name=guide]{
	display : none;
}

.main-guide .guide-next{
	position : absolute;
	bottom : -10px;
	height: 25px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.guide-next label{
	display : inline-block;
    width : 20px;
    height : 20px;
    margin : 5px;
    border-radius: 50%;
    opacity: 60%;
    cursor : pointer;
}

input[id=guide-btn1]:checked ~ .content-container .guide-box{
	left : 0;
}

input[id=guide-btn2]:checked ~  .content-container .guide-box{
	left : -700px;
}

input[id=guide-btn1]:checked ~ .guide-next label[for=guide-btn1]{
	opacity : 100%;
}

input[id=guide-btn2]:checked ~ .guide-next label[for=guide-btn2]{
	opacity : 100%;
}

.guide-box .guide-card {
    float: left;
    width: 222px;
    height: 330px;
    color: #314570;
    background-color: rgb(240, 240, 240);
    position: relative;
    cursor: pointer;
    margin-left : 10px;
    padding: 30px 15px 30px 30px;
    border-top: 3px solid #1b3670;
    border-radius: 3px;
}

.guide-card > h1{
    display: inline-block;
    width : 120px;
    color: #314570;
    font-size: 12px;
    letter-spacing: -0.3px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(57, 107, 243);
}

.guide-card .text-box{
    width : 100%;
    height: 100%;
    margin-top : 20px;
    margin-bottom : 0;
}

.text-box >p{
    width : 100%;
    margin-left : 0;
    margin-bottom : 0;
    float: left;
    color: #1b3670;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.5px;
}

/* =====================================================footer================================================ */