
.header-box {
    height: 70px;
}

#filter {
    background:gray;
    height:70px;
}
body {
   overflow: hidden;
}
    #content {        
        display:flex;    
    }

#header {
    width : 1180px;
    height: 70px;
    display : flex;
    justify-content: center;
    margin : auto;
}

/* .header-box {
    height: 70px;
    margin : auto;
} */

main {
    /* width: 100%; */
}

.input-search{
    width : 100%;
    justify-content: center;
    height: 432px;
    padding-top : 115px;
    padding-bottom: 113pxa;
}


.easy-search{
    width : 100%;
    display : flex;
    justify-content: center;
    height: 400px;
}

.easy-search .content-container{
    width : 1180px;
    height: inherit;
    margin-left: 112px;
    margin-right : 113px;
}

.main-box {
    width: 1404px;
    height: 1154px;
    margin : 70px auto 150px;
    border-top: 1px solid rgb(221, 221, 221);
}

.recent-room {
    width : 100%;
    height: 414px;
}


.recent-room .content-container{
    width: 1180px;
    height: inherit;
    margin : 80px auto 0;
}

.recent-block {
    width: 100%;
    padding-top : 80px;
}

.recent-block .content-container{
    width: 1180px;
    height: 280px;
    margin-left : 112px;
    margin-right : 113px;
}

.main-guide {
    width: 100%;
    display : flex;
    justify-content: center;
    padding-top : 120px;
}

.main-guide .content-container{
    width: 1180px;
    height: 400px;
    margin-left : 112px;
    margin-right : 113px;
}

.main-table{
    width: 100%;
    height: 220px;
    padding-top : 52px;
    padding-bottom: 68px;
}

#footer{
    width: 100%;
    height: 340px;
    padding-top : 52px;
    padding-bottom : 68px;
}