<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- ==========================header========================== -->
    <header id="header">
        <a class="logo" href="index.html">
            <svg width="90" height="27" viewBox="0 0 61 27">
                <g fill="none" fill-rule="evenodd">
                    <path fill="#fff" d="M0 .75v18.263h17.295V13.08H6.918V6.682h10.377V20.14.75zM36.344.75v4.6h-3.687V.77h-4.918v18.263h13.524V.910zm-3.690 12.31h3.688V10.383h-3.688v5">
                    </path>
                    <!-- <g transform="translate(47.275, 12.88)">
                        <path fill="#314570" d="M6.823 9.017c-1.12 0-2.028-.91-2.028-2.033 0-1.124.908-2.035 2.028-2.035s2.03.911 2.03 2.035a2.032 2.032 0 0 1-2.03 2.034m0-8.816C3.09.2.061 3.237.061 6.983c0 3.745 3.028 6.782 6.762 6.782 3.735 0 6.763-3.037 6.763-6.782C13.586 3.237 10.558.2 6.823.2"></path>
                    </g> -->
                </g>
            </svg>
        </a>
        <div class="header-box">
            <nav class="left-menu">
                <a class="gopro" href="">프로중개사 사이트</a>
                <div></div>
                <a class="goowner" href="">방주인 사이트</a>
            </nav>
            <nav class="right-menu">
                <div class="right-menu-detail">
                    <a class="" href="roomsearch.html">방찾기</a>
                    <!-- <a class="" href="">분양</a> -->
                    <a class="" href="">관심목록</a>
                    <a class="" href="room.html">방내놓기</a>
                    <a class="" href="">알림
                        <i class = "fa fa-bell-o"></i>
                    </a>
                </div>
                <a class="signup" href="#none">
                    회원가입
                    <span>.</span>로그인
                </a>
            </nav>
            <!-- ================로그인화면=============== -->
            <div id = "login-page" class = "d-none">
                <div class = "login-container">
                    <div class = "closebtn-box">
                        <button class = "close-btn">
                            <span>x</span>
                        </button>
                    </div>
                    <div class = "login-box">
                        <h1 class = "login-title">LOGIN</h1>
                        <form class = "login-form">
                            <input type = "text" class = "input-id" placeholder = "ID">
                            <input type = "text" class = "input-pw" placeholder = "PASSWORD">
                            <div class = "check-box">
                                <label class = "saved-id">
                                    <input type = "checkbox" name = "login" value = "">
                                    <span></span>
                                    <p>SAVED ID</p>
                                </label>
                                <div class = "forgot-pw">
                                    <a href = "index.html">FORGOT PW</a>
                                </div>
                            </div>
                            <button class = "login-btn">
                                <span>LOGIN</span>
                            </button>
                        </form>
        
                        <div class = "sns-btn">
                            <a href = "#none">
                                <i class = "fa fa-facebook"></i>
                            </a>
                            <a href = "#none">
                                <i class = "fa fa-twitter"></i>
                            </a>
                            <a href = "#none">
                                <i class = "fa fa-google-plus"></i>
                            </a>
                            <a href = "#none">
                                <i class = "fa fa-youtube"></i>
                            </a>
                            <a href = "#none">
                                <i class = "fa fa-instagram"></i>
                            </a>
                        </div>
        
                        <div class = "pop-signup">
                            <a href = "signup.html">
                                <button>
                                    <span>CREATE NEW ACCOUNT</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ======================================================main======================================================== -->
    <!-- ========================main 1 /input-search================================= -->
    <main id="main">
        <div class="input-search">
            <p class="main-title">
                <span>어떤 동네, 어떤 방</span>에서
            </p>
            <p class="main-title">살고 싶으신가요?</p>
            <form class="search-form">
                <div class="search-box">
                    <input type = "text">
                    <i class = "fa fa-search"></i>
                    <button>방찾기</button>
                </div>
            </form>
        </div>
        <!-- ========================main 2 /main-firstwrap================================= -->
        <div class="easy-search">
            <div class="content-container">
                <div class="easy-title">
                    <span>쉬운 방찾기</span>
                    <p>방 찾기 초보를 위한 초간단 솔루션!</p>
                </div>
                <div class="card-wrap">
                    <div class="card-box">
                        <a class="card" href="">
                            <div class="card-container">
                                <div class="image-box1"></div>
                                <div class="text-box">
                                    <p>월세+관리비</p>
                                    <p>월 50이하 원룸</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="">
                            <div class="card-container">
                                <div class="image-box2"></div>
                                <div class="text-box">
                                    <p>보증금</p>
                                    <p>500 이하 원룸</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="">
                            <div class="card-container">
                                <div class="image-box3"></div>
                                <div class="text-box">
                                    <p>반려동물</p>
                                    <p>가능한 원룸</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="">
                            <div class="card-container">
                                <div class="image-box4"></div>
                                <div class="text-box">
                                    <p>낭만적인</p>
                                    <p>옥탑방 원룸</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="">
                            <div class="card-container">
                                <div class="image-box5"></div>
                                <div class="text-box">
                                    <p>2억이하</p>
                                    <p>전세 투쓰리룸</p>
                                </div>
                            </div>
                        </a>
                        <a class="card" href="">
                            <div class="card-container">
                                <div class="image-box6"></div>
                                <div class="text-box">
                                    <p>전세자금대출</p>
                                    <p>가능한 투쓰리룸</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <button class = "next-btn">
                        <svg width = "10" height = "16" viewBox = "0 0 10 16">
                            <path fill="none" fill-rule="evenodd" stroke="#666" d="M2 14l6-6-6-6"></path>
                        </svg>
                    </button>
                    <div class = "pagewrap">
                        <p class = "pagenums-one">01</p>
                        <p class = "pagenums-two">02</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- ========================main 3-1 /main-secondwrap(recent-room)================================= -->
        
        <!-- <div class = "main-box">
            <div class="recent-room">
                <div class="content-container">
                    <div class = "recently-room">최근 본 방</div>
                    <div class = "favorite-room">찜한 방</div>
                    <div class = "check-recent">
                        <span>최근에 본 방과 찜한 방을 볼 수 있어요</span>
                    </div>
                    <div class = "card-list">
                        <div class = "card">
                            <p>아직 못 본 더 많은 방이 있어요.</p>
                        </div>
                        <div class = "card">
                            <p>아직 못 본 더 많은 방이 있어요.</p>
                        </div>
                        <div class = "card">
                            <p>아직 못 본 더 많은 방이 있어요.</p>
                        </div>
                        <div class = "plus-card">
                            <p>최근 본 지역의 다른 방을 찾아보세요</p>
                            <svg width = "35" height = "35" viewBox = "0 0 35 35">
                                <g fill = "none" fill-rule = "evenodd">
                                    <circle cx = "17.5" cy = "17.5" r = "17.5" fill = "#314570"></circle>
                                    <g fill = "#fff">
                                        <path d="M10 17h15v1H10z"></path>
                                        <path d="M17 10h1v15h-1z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- ========================main 3-2 /main-secondwrap(recent-block)================================= -->

            <!-- <div class="recent-block">
                <div class="content-container">
                  
                    <div class = "recently-block">최근 본 단지</div>
                    <div class = "favorite-block">찜한 단지</div>
                    <div class = "check-recent">
                        <span>최근에 본 단지와 찜한 단지를 볼 수 있어요</span>
                    </div>
                    <div class = "card-list">
                        <div class = "card">
                            <p>아직 못 본 더 많은 단지가 있어요.</p>
                        </div>
                        <div class = "card">
                            <p>아직 못 본 더 많은 단지가 있어요.</p>
                        </div>
                        <div class = "card">
                            <p>아직 못 본 더 많은 단지가 있어요.</p>
                        </div>
                        <div class = "plus-card">
                            <p>최근 본 지역의 다른 단지를 찾아보세요</p>
                            <svg width = "35" height = "35" viewBox = "0 0 35 35">
                                <g fill = "none" fill-rule = "evenodd">
                                    <circle cx = "17.5" cy = "17.5" r = "17.5" fill = "#314570"></circle>
                                    <g fill = "#fff">
                                        <path d="M10 17h15v1H10z"></path>
                                        <path d="M17 10h1v15h-1z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- ========================main 4 /main-thirdwrap(room-guide)================================= -->
            <div class="main-guide">
                <div class="content-container">
                    <div class = "guide-title">부동산 가이드</div>
                    <div class = "guide-box">
                        <a class = "guide-card">
                            <h1>다방 이야기</h1>
                            <div class = "text-box">
                                <p>다방</p>
                                <p>허위매물 예방 5계명</p>
                            </div>
                            <!-- <svg></svg> -->
                        </a>
                        <a class = "guide-card">
                            <h1>부동산 상식</h1>
                            <div class = "text-box">
                                <p>알아두면 좋은</p>
                                <p>부동산 용어</p>
                            </div>
                            <!-- <svg></svg> -->
                        </a>
                        <a class = "guide-card">
                            <h1>부동산 상식</h1>
                            <div class = "text-box">
                                <p>임대차 계약서</p>
                                <p>작성 시</p>
                                <p>알아둬야 할 것</p>
                            </div>
                            <!-- <svg></svg> -->
                        </a>
                        <a class = "guide-card">
                            <h1>부동산 상식</h1>
                            <div class = "text-box">
                                <p>어쩌고 저쩌고</p>
                                <p>대한민국</p>
                                <p>땅부자 건물부자</p>
                            </div>
                            <!-- <svg></svg> -->
                        </a>
                        <a class = "guide-card">
                            <h1>생활꿀팁</h1>
                            <div class = "text-box">
                                <p>이사준비</p>
                                <p>이사체크 리스트</p>
                            </div>
                            <!-- <svg></svg> -->
                        </a>
                    </div>
                </div>
            </div>
            <!-- ========================main 5 /main-table================================= -->
            <!-- <div class="main-table">

                형태별 검색 공인중개사 회원가입 상품소개 다방 뉴스 고객지원 About 다방
                원룸 다방프로 패키지 상품 공지사항 자주묻는 질문 회사소개
                투·쓰리룸 일반 상품 이벤트 Android 오시는 길
                오피스텔 단지 상품 IOS 제휴문의
                아파트 프리미엄 상품 다방 이용 설명서
                플러스 상품
                이 지역 부동산 상품
            </div> -->
        </div>
    </main>
    <!-- ==============================================================footer=============================================================== -->
    <!-- <footer id="footer">
        회사소개이용약관개인정보처리방침매물관리규정자동저장서비스

        (주)스테이션3

        대표 : 한유순, 유형석

        사업자 번호: 220-88-59156 통신판매업신고번호 : 제2013-서울 강남-02884호

        주소 : 서울시 서초구 서초대로 301 동익 성봉빌딩 10층 (주)스테이션3

        고객센터 : 02-1899-6840(평일 10:00 ~ 18:30 토•일요일, 공휴일 휴무)

        팩스 : 02-554-9774프로모션/사업 제휴문의 : biz@station3.co.kr허위매물 신고 : clean@dabangapp.com

        자주묻는 질문1:1 문의
        Station3, Inc. All rights reserved.
        다방, 2019년 한국서비스품질지수

        부동산 중개 앱 1위 선정
    </footer> -->
    <script src = "js/jquery-1.12.4.js"></script>
    <script src = "js/index.js"></script>
</body>

</html>